seaborn 
scikit-learn 
keras 
tensorflow 
wheel 
typing
jupyterlab 
numpy 
pandas 
sklearn 
matplotlib
google-colab
ipympl 
nodejs 
pandoc 
jupyter-resource-usage 
graphviz 
dtreeviz
jupyter
pypiserver

